In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [11]:
df = pd.read_csv('ratings_db.csv')

In [12]:
df.head()

   id  user_id  movie_id  rating             rated_at
0   1      196       242       3  1997-12-04 07:55:49
1   2      186       302       3  1998-04-04 11:22:22
2   3       22       377       1  1997-11-06 23:18:36
3   4      244        51       2  1997-11-26 21:02:03
4   5      166       346       1  1998-02-01 21:33:16

In [13]:
movie_titles = pd.read_csv('movies_db.csv')

In [14]:
movie_titles.head()

   id              title release_date
0   1   Toy Story (1995)   1995-01-01
1   2   GoldenEye (1995)   1995-01-01
2   3  Four Rooms (1995)   1995-01-01
3   4  Get Shorty (1995)   1995-01-01
4   5     Copycat (1995)   1995-01-01